html, body {
  height: 100%;
  width: 100%;
}
.container{
  width: 100%;
/*     height: 100%; */
    background:url('https://images.unsplash.com/photo-1618904861641-70ecbbe2457b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTB8NDAxOTIyfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60') ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hide{
  display: none;
}
#gameArea{
background-color: #313e47;
    width: 400px;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.car{
  background: url('https://cdn.pixabay.com/photo/2013/07/12/11/58/car-145008__340.png');
  background-position: center;
  background-size: cover;
/* background-color: red; */
  height: 100px;
  z-index: 222;
  width: 40px;
  position: absolute;
  top: 490px;
  left: 10px;
  
}
.lines{
  height: 100px;
  width: 30px;
  background-color: white;
  margin-left:195px ;
  position: absolute;
  
}
.enemyCar{
  background: url('https://cdn.pixabay.com/photo/2013/07/13/13/14/car-160603__340.png');
   background-position: center;
  background-size: cover;
    top: 0px;
/*     background: yellow; */
    height: 100px;
    width: 40px;
    position: absolute;
}
#score{
  width:15rem;
  color: white;
  height:6rem;
  margin: 2px;
  background-color: #e23636;
  font-size: 2.5rem;
  text-align: center;
}
.container{
  display: flex;
}
#gameAlert{
    width: 30rem;
    height: 14rem;
  transform: translate(-50%,-50%);
  padding: auto;
    background: #c0662a;
    border: 2px solid;
    font-size: 3rem;
  word-spacing: 2;
  position: absolute;
  top: 50%;
  z-index: 333;
  left: 50%;
    text-align: center;
/*     margin: auto;/ */
}